@model IEnumerable<AviaWeb.Models.AirTicket>
@{
    ViewData["Title"] = "Отчет о пассажире";
}
    <table>
        <thead>
            <tr>
                <th>Дата оформления</th>
                <th>Дата вылета</th>
                <th>Номер заказа</th>
                <th>Пункт отправления</th>
                <th>Пункт назначения</th>
                <th>Услуга оказана</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.DateOfConclusion</td>
                    <td>@item.DepartureDate</td>
                    <td>@item.Id</td>
                    <td>@item.Departure</td>
                    <td>@item.Arrival</td>
                    
                    @if (item.ArrivalDate != default)
                        {
                            <td>true</td>
                        }
                    else
                    {
                    <td>false</td>
                    }
                    
                    
                </tr>
            }
        </tbody>
    </table>

