@model IEnumerable<AviaWeb.Models.AirTicket>
@{
    ViewData["Title"] = "Отчет о пассажире";
}
    <table class="table">
        <thead>
            <tr>
                <th>Дата оформления</th>
                <th>Дата вылета</th>
                <th>Номер заказа</th>
                <th>Пункт отправления</th>
                <th>Пункт назначения</th>
                <th>Услуга оказана</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.DateOfConclusion</td>
                    <td>@item.DepartureDate</td>
                    <td>@item.Id</td>
                    <td>@item.Departure</td>
                    <td>@item.Arrival</td>
                    <td>@item.Company</td>
                </tr>
            }
        </tbody>
    </table>

