@model IEnumerable<AviaWeb.Models.AirTicket>

@{
    ViewData["Title"] = "Просмотр билетов";
}
<script src="https://kit.fontawesome.com/5c7958eb37.js" crossorigin="anonymous"></script>

<h1>Билеты</h1>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Departure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Arrival)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfConclusion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartureDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArrivalDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company)
            </th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
            <tr>
                <td><a asp-action="DetailsFull" asp-route-id="@item.Id" style="text-decoration: none;" title="Полная информация о билете">
                        <i class="fa-solid fa-circle-info"></i>
                    </a>
                <td>
                    @Html.DisplayFor(modelItem => item.Departure)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Arrival)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfConclusion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartureDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArrivalDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Company)
                </td>
                <td style="text-align: center;">
                    <a asp-action="Edit" asp-route-id="@item.Id" style="text-decoration: none;" title="Редактировать">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </a>
                    <a asp-action="DetailsForTicket" asp-controller="Passengers" asp-route-id="@item.PassengerId" style="text-decoration: none;" title="Просмотреть пассажира">
                        <i class="fa-solid fa-user"></i>
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.Id" style="text-decoration: none;" title="Удалить">
                        <i class="fa-solid fa-trash-can"></i>
                    </a>
                </td>
            </tr>
    }
        </tbody>
</table>
