@model IEnumerable<AviaWeb.Models.AirTicket>

@{
    ViewData["Title"] = "Просмотр билетов";
}

<h1>Билеты</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Departure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Arrival)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfConclusion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartureDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArrivalDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Departure)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Arrival)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfConclusion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartureDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArrivalDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Company)
                </td>
                <td>
                    <div class="btn-group">
                        <a class="btn btn-secondary mr-100" asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> 
                        <a class="btn btn-secondary mr-5" asp-action="DetailsForTicket" asp-controller="Passengers" asp-route-id="@item.PassengerId">Просмотреть пассажира</a>
                        <a class="btn btn-secondary mr-5" asp-action="DetailsFull" asp-route-id="@item.Id">Полная информация о билете</a>
                        <a class="btn btn-secondary mr-5" asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                    </div>
                </td>
            </tr>
    }
        </tbody>
</table>
